<div ng-controller="DeliveriesCtrl as ctrl">
  <section layout="row" flex>
    <md-card>
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Cadastro de Clientes</h1>
      </md-toolbar>
      <md-content layout-padding>
        <md-card>
          <form ng-submit="ctrl.submitForm()" id="form" name="form">
            <md-input-container flex class="md-block">
              <label>Nome do Cliente</label>
              <input required ng-model="delivery.name" />
            </md-input-container>
            <md-input-container flex class="md-block">
              <label>Peso da Entrega (kg)</label>
              <input required ng-model="delivery.weight" type="number" />
            </md-input-container>
            <md-autocomplete
              flex
              required
              md-input-name="autocompleteField"
              md-input-minlength="2"
              md-selected-item="selectedItem"
              md-delay="500"
              md-search-text="ctrl.searchText"
              md-items="item in ctrl.querySearch(ctrl.searchText)"
              md-item-text="item.display"
              md-require-match="false"
              md-floating-label="Endereço"
            >
              <md-item-template>
                <span md-highlight-text="ctrl.searchText">{{
                  item.display
                }}</span>
              </md-item-template>
            </md-autocomplete>

            <div layout="row">
              <md-input-container>
                <label>Latitude</label>
                <input disabled ng-model="selectedItem.address.location.lat" />
              </md-input-container>
              <md-input-container>
                <label>Longitude</label>
                <input disabled ng-model="selectedItem.address.location.lon" />
              </md-input-container>
            </div>
            <div layout="row">
              <md-button type="submit" flex class="md-raised md-primary"
                >Cadastrar cliente</md-button
              >
            </div>
          </form>
        </md-card>

        <md-card>
          <md-button ng-click="ctrl.clearForm()" class="md-raised md-accent"
            >Resetar cadastro</md-button
          >
        </md-card>
      </md-content>
    </md-card>

    <md-content flex layout-padding>
      <div>
        <div layout="column" layout-align="top left">
          <leaflet
            id="map-custom-markers"
            markers="markers"
            style="height: 50vh"
          ></leaflet>
          <!-- exact table from live demo -->
          <p class="md-caption">
            Total de Clientes: {{ info.total_clients }}; Peso total:
            {{ info.total_weight }}kg; Ticket Médio*:
            {{ info.avg_ticket.toFixed(2) }}
          </p>
          <md-table-container>
            <table md-table>
              <thead md-head>
                <tr md-row>
                  <th md-column><span>Nome</span></th>
                  <th md-column><span>Rua</span></th>
                  <th md-column>Cidade</th>
                  <th md-column>País</th>
                  <th md-column>Peso</th>
                  <th md-column>Lat</th>
                  <th md-column>Lng</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr
                  md-row
                  md-select="delivery"
                  md-select-id="name"
                  md-auto-select
                  ng-repeat="delivery in deliveries"
                >
                  <td md-cell>{{ delivery.name }}</td>
                  <td md-cell>{{ delivery.address.street }}</td>
                  <td md-cell>{{ delivery.address.city }}</td>
                  <td md-cell>{{ delivery.address.country }}</td>
                  <td md-cell>{{ delivery.weight }}</td>
                  <td md-cell>{{ delivery.address.location.lat }}</td>
                  <td md-cell>{{ delivery.address.location.lon }}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
        </div>
      </div>
    </md-content>
  </section>
</div>
